body{
	margin:0;
	background: #000;
}
#game{

	width:960px; height:480px;
	background: #fff;
	overflow: hidden;

	position: absolute;
	margin: auto;
	top:0; bottom:0; left:0; right:0;
}
#canvas{
	background: #da7a55;
	position: absolute;
	top:0; left:0;
}
#social{
	width:270px; height:430px;
	padding:25px;

	transition: top 0.5s ease-in-out;
	position: absolute;
	top:-150px; right:0;
}
#social canvas{
	position: absolute;
	border:1px solid #ddd;
	width:268px; height:148px;
}
